<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content = "text/html; charset=UTF-8">
	<meta name="description" content="Web Aplication">
	<meta name="author" content="Exercise">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">

	<!-- Bootstrap JS-->
	<script src="./js/jquery-3.2.1.js"></script>
	<script src="./js/bootstrap.js"></script>
	
	<title>Web App Task</title>
</head>
<body>

	     {% block cabecera %} {% endblock %}     
	
	
	    
	
	
	
	     {% block content %}{% endblock %}

	
	
</body>
</html>